$mk-appbar-color: #dee2e6 !default;
$mk-appbar-color-hover: #ffffff !default;
$mk-appbar-active: $o-brand-primary !default;
$mk-appbar-active-border: $o-brand-primary !default;
$mk-appbar-background: #0a0a0a !default;

$mk-sidebar-large-width: 280px !default;
$mk-sidebar-small-width: 46px !default;
